:root {
    --Address_Main_Font: "Roboto", sans-serif;
    --Address_Secondary_Font: "Inter", sans-serif;
    --Address_Main--Header: 35px;
    --Address_Main--Address--Name: 21px;
    --Address_Main--Address: 17px;
    --Address_Main--Address_Options: 14px;
    --Addaddress_Heading_Fontsize: 20px;
    --Address_Main_Fontsize: 15px;
    --Address_Secondary_Fontsize: 17px;
    --Addaddress_Button_Fontsize: 15px;
}

/* Address View Page CSS */

.Address_Main {
    font-family: var(--Address_Main_Font);
    max-width: 1300px;
    margin: 0em auto;
    padding: 0em 1em;
}

/* Address Header */

.Address_Main--Header {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    margin-bottom: 1em;
    padding: 1em 2em;
    border-style: none;
    border-radius: 8px;
    border: 2px solid white;
}

.Address_Main--Header h1 {
    font-size: var(--Address_Main--Header);
}

.Address_Main--Header button {
    font-size: var(--Address_Secondary_Font);
    font-size: var(--Addaddress_Button_Fontsize);
    font-weight: 600;
    padding: .6em 2em;
    background-color: goldenrod;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.Address_Main--Addresses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1.5em;
    column-gap: 1.5em;
    padding: .5em;
}

/* Address Card CSS */

.Address_Main--Address {
    background-color: rgb(42, 42, 42);
    position: relative;
    max-width: 420px;
    height: 280px;
    padding: 1em;
    border-style: none;
    border-radius: 8px;
    border: 2px solid white;
}

/* Default Address Card CSS */

.Address_Main--Address--Default {
    background-color: rgb(35, 35, 35);
}

.Address_Main--Address_Info {
    font-size: var(--Address_Main--Address);
    margin: .5em 0em;
}

.Address_Main--Address_Name {
    font-size: var(--Address_Main--Address--Name);
    font-weight: 600;
    margin-bottom: .7em;
}

.Address_Main--Address_Name--Default_Note {
    font-size: var(--Address_Main--Address);
    font-weight: 400;
}

.Address_Main--Address_Options {
    position: absolute;
    bottom: 20px;
    margin-top: 2em;
}

.Address_Main--Address_Options--Option{
    font-size: var(--Address_Main--Address_Options);
    cursor: pointer;
    &:hover {
        color: red;
    }
}

/* Add Address Page CSS */

/* Add Address Error Box */

.Addaddress--Error {
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all .4s ease-in-out;
}

.Addaddress--Error--Active {
    top: 100px;
}

.Addaddress--Error--Inactive {
    top: -50px;
}

.Addaddress_Error--Container {
    width: 700px;
    margin: 0 auto;
    background-color: red;
    padding: 1.5em 3em;
    border-style: none;
    border: 2px white solid;
    border-radius: 8px;
}

.Addaddress_Error--Heading {
    font-size: var(--Items_Error--Heading);
    font-family: var(--Prdct_Second_Ff);
    font-weight: 600;
}

.Addaddress_Error--Message {
    font-size: var(--Items_Error--Message);
    font-family: var(--Prdct_Main_Ff);
}

/* Add Address Main Container */

.Addaddress_Main {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(67, 66, 66);
    padding: 2em 1.5em;
    border-radius: 10px;
}

.Addaddress_Main--Header {
    font-size: var(--Addaddress_Heading_Fontsize);
    font-family: var(--Address_Main_Font);
    text-align: center;
}

.Addaddress_Component {
    margin: 1em 0;
}

.Addaddress_Component label {
    font-family: var(--Address_Secondary_Font);
    font-size: var(--Address_Secondary_Fontsize);
    font-weight: 500;
}

.Addaddress_Component input {
    display: block;
    width: 250px;
    font-family: var(--Address_Secondary_Font);
    font-size: var(--Address_Main_Fontsize);
    font-weight: 400;
    margin-top: .3em;
    padding: .2em 0 .2em .3em;
    border-style: none;
    border-radius: 2px;
}

.Addaddress_Button button {
    font-size: var(--Address_Secondary_Font);
    font-size: var(--Addaddress_Button_Fontsize);
    font-weight: 600;
    padding: .5em 1.7em;
    background-color: goldenrod;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}