:root {
    --Home_Main_Font: "Inter", sans-serif;
    --Home_Store_Name: 80px;
    --Home_Store_Quote: 20px;
    --Home_Shop_Now_Button: 18px;
}

.Home_Header {
    position: relative;
}

.Home_Title {
    position: absolute;
    top: 150px;
    left: 200px;
}

.Home_Title h1 {
    font-family: var(--Home_Main_Font);
    font-size: var(--Home_Store_Name);
}

.Home_Title p {
    font-family: var(--Home_Main_Font);
    font-size: var(--Home_Store_Quote);
}

.Home_Title button {
    background-color: black;
    color: white;
    font-family: var(--Home_Main_Font);
    font-size: var(--Home_Shop_Now_Button);
    font-weight: 600;
    padding: .6em 1.4em;
    border-style: none;
    border-radius: 7px;
    margin-top: 1em;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: black;
    }
}

.Home_BG--Image {
    max-width: 100dvw;
}

.Home_BG--Image img {
    width: 100%;
}

.Home_Main {
    max-width: 1700px;
    margin: 0em auto;
}

.Home_Products_Section {
    background-color: rgb(45, 45, 45);
    padding: 1em;
    border-style: none;
    border-radius: 8px;
    margin-top: 2em;
}

.Home_Products_Container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.Home_Product {
    flex-shrink: 0;
    background-color: brown;
    width: 400px;
}

.Home_Product +
.Home_Product {
    margin-left: 1em;
}

.Home_Product--Image {
    width: 100%;
}

.Home_Product--Image img {
    width: 100%;
}