::-webkit-scrollbar {
    width: 0px;
}

.Items_Main {
    max-width: 1500px;
    max-height: 100vh;
    overflow-y: scroll;
    margin: 0 auto;
    padding-top: 8em;
}

.Items_Wishlist_Selector {
    display: none;
}

.Items_Wishlist_Selector--Active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Items_Wishlist_Selector--Tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .6;
    background-color: black;
}

.Items_Wishlist_Selector--Container {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 400px;
    padding: 1em 0;
    /* overflow-y: scroll; */
    background-color: #242424;
}

.Items_Wishlist_Selector--Subcontainer {
    height: 350px;
    overflow-y: scroll;
}

.Items_Wishlist_Selector--Heading {
    text-align: center;
    margin-top: .5em;
}

.Items_Wishlist_Selector--Lists {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 270px;
    margin: 0 auto;
}

.Items_Wishlist_Selector--List {
    background-color: rgb(24, 23, 23);
    text-align: center;
    width: 100%;
    margin: .5em 0;
    padding: 1em;
    border-radius: 7px;
    cursor: pointer;
}

.Items_Wishlist_Selector--List:hover {
    color: red;
}

.Items_Wishlist_Selector--Listname {
    font-size: 18px;
}

.Item_Wishlist_Selector--Cancel_Button {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Item_Wishlist_Selector--Cancel_Button button {
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.Item_Wishlist_Selector--Cancel_Button button:hover {
    color: red;
}

.Items_Container {
    display: flex;
}

.Items_Filters {
    width: 20%;
}

.Items_Filter_Company {
    overflow-y: scroll;
    transition: all .3s ease-in-out;
    padding: 0em 1em;
}

.Items_Filter_Company--Inactive {
    background-color: #242424;
    max-height: 0px;
}

.Items_Filter_Company--Active {
    background-color: #242424;
    max-height: 400px;
    /* transform: scaleY(0); */
    /* transform: rotateX(90deg); */
    /* transform-origin: 0% 0%; */
}

.Items_Filter_Company_Name_Container {
    text-align: center;
    padding: .5em 0em;
    margin: .3em 0em;
    background-color: rgb(24, 23, 23);
}

.Items_Filter_Company_Name {

}

.Items {
    width: 75%;
    /* margin-top: 1em; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

.Item_Container {
    display: flex;
    background-color: #242424;
    padding: 2em 1em;
    margin-bottom: 1em;
}

.Item_Image {
    width: 30%;
    margin-right: 1.5em;
}

.Item_Image img {
    max-width: 100%;
    height: 200px;
}

.Item_Details {
    width: 60%;
}

.Item_Buttons {
    margin-top: 1em;
}

.Items_Buttons button {
    padding: .2em .3em;
    margin: .5em 0;
}