:root {
    --MerchantInventory_Main_Font: "Inter", sans-serif;
    --MerchantInventory_Second_Font: "Roboto", sans-serif;
    --MerchantInventory_Header: 40px;
    --MerchantInventory_Name: 19px;
    --MerchantInventory_Quantity: 16px;
    --MerchantInventory_Button: 15px;
}

.MerchantInventory_Page {
    padding: 1em 0em;
}

.MerchantInventory_Editor {
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.MerchantInventory_Container {
    max-width: 1300px;
    margin: 0em auto;
}

.MerchantInventory_Header {
    background-color: black;
    position: sticky;
    top: 0px;
    padding-bottom: 1.5em;
}

.MerchantInventory_Header--Title {
    background-color: rgb(25, 25, 25);
    font-family: var(--MerchantInventory_Main_Font);
    font-size: var(--MerchantInventory_Header);
    text-align: center;
    letter-spacing: 2px;
    padding: .7em 0em;
    border-style: none;
    border-radius: 9px;
    border: 2px solid white;
}

.MerchantInventory--Product {
    background-color: rgb(25, 25, 25);
    display: flex;
    gap: 2em;
    padding: 1em;
    border-style: none;
    border-radius: 8px;
}

.MerchantInventory--Product_Image {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MerchantInventory--Product_Image img {
    width: 100%;
}

.MerchantInventory--Product_Details {
    width: 60%;
    font-family: var(--MerchantInventory_Main_Font);
}

.MerchantInventory--Product_Name {
    font-size: var(--MerchantInventory_Name);
    font-weight: 500;
}

.MerchantInventory--Product_Quantity {
    font-size: var(--MerchantInventory_Quantity);
    margin: .7em 0em;
}

.MerchantInventory--Restock_Button {
    font-family: var(--MerchantInventory_Second_Font);
    font-size: var(--MerchantInventory_Button);
    font-weight: 600;
    background-color: white;
    color: black;
    padding: .6em 1.6em;
    border-style: none;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
        border: 1px solid white;
    }
}

.MerchantInventory--StockEditor--Input_And_Confirm {
    display: flex;
    align-items: center;
}

.MerchantInventory--StockEditor label {
    display: block;
    font-size: var(--MerchantInventory--StockEditor);
    font-weight: 500;
    margin-bottom: .4em;
    cursor: pointer;
}

.MerchantInventory--StockEditor input {
    font-size: var(--MerchantInventory--StockEditor);
    width: 130px;
    padding: .25em .2em .25em .4em;
    cursor: pointer;
}

.MerchantInventory--StockEditor button {
    font-family: var(--MerchantInventory_Second_Font);
    font-size: var(--MerchantInventory_Button);
    font-weight: 600;
    letter-spacing: .3px;
    background-color: white;
    color: black;
    margin-left: 1em;
    padding: .4em 1.4em;
    border-style: none;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
        border: 1px solid white;
    }
}

.MerchantInventory--Restock_Button--Inactive,
.MerchantInventory--StockEditor--Inactive {
    display: none;
}