:root {
    --MerchantProducts_Main_Font: "Inter", sans-serif;
    --MerchantProducts_Second_Font: "Roboto", sans-serif;
    --MerchantProducts_Header: 40px;
    --MerchantProducts_Name: 19px;
    --MerchantProducts_Category: 16px;
    --MerchantProducts_Discount: 14px;
    --MerchantProducts_FinalPrice: 19px;
    --MerchantProducts_MRP: 14px;
    --MerchantProducts_Stock: 16px;
    --MerchantProducts_Button: 15px;
}

.MerchantProducts_Page {
    padding: 1em 0em;
}

.MerchantProducts_Container {
    max-width: 1300px;
    margin: 0em auto;
}

.MerchantProducts_Header {
    background-color: black;
    position: sticky;
    top: 0px;
    padding-bottom: 1.5em;
}

.MerchantProducts_Header--Title {
    background-color: rgb(25, 25, 25);
    font-family: var(--MerchantProducts_Main_Font);
    font-size: var(--MerchantProducts_Header);
    text-align: center;
    letter-spacing: 2px;
    padding: .7em 0em;
    border-style: none;
    border-radius: 9px;
    border: 2px solid white;
}

.MerchantProducts--Product {
    display: flex;
    gap: 1em;
}

.MerchantProducts--Product_Image {
    width: 25%;
    max-width: 250px;
}

.MerchantProducts--Product_Image img {
    max-width: 100%;
}

.MerchantProducts--Product_Details {
    font-family: var(--MerchantProducts_Main_Font);
    width: 60%;
}

.MerchantProducts--Product_Name {
    font-size: var(--MerchantProducts_Name);
    font-weight: 500;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MerchantProducts--Product_Category {
    font-size: var(--MerchantProducts_Category);
    margin-top: .5em;
    margin-bottom: .7em;
}

.MerchantProducts--Product_Discount {
    font-size: var(--MerchantProducts_Discount);
}

.MerchantProducts--Product_FinalPrice {
    font-size: var(--MerchantProducts_FinalPrice);
    letter-spacing: .7px;
}

.MerchantProducts--Product_MRP {
    font-size: var(--MerchantProducts_MRP);
    text-decoration: line-through;
    letter-spacing: .7px;
}

.MerchantProducts--Product_Stock {
    font-size: var(--MerchantProducts_Stock);
    margin-top: .5em;
    margin-bottom: .8em;
}