:root {
    --Merchant_Main_Font: "Inter", sans-serif;
    --Merchant_Second_Font: "Roboto", sans-serif;
    --Merchant_Header: 40px;
    --Merchant_Section_Name: 25px;
    --Merchant_Dashboard--Item--Text: 18px;
    --Merchant_Dashboard--Item--Value: 25px;
}

.Merchant_Page {
    max-width: 1300px;
    margin: 0em auto;
    padding: 1.5em 0em;
}

.Merchant_Header {
    position: sticky;
    top: 0px;
    padding-bottom: 1.5em;
}

.Merchant_Header--Title {
    background-color: rgb(25, 25, 25);
    font-family: var(--Merchant_Main_Font);
    font-size: var(--Merchant_Header);
    text-align: center;
    letter-spacing: 2px;
    padding: .7em 0em;
    border-style: none;
    border-radius: 9px;
    border: 2px solid white;
}

.Merchant_Dashboard--Section {
    background-color: rgb(25, 25, 25);
    max-width: 1200px;
    margin: 0em auto;
    border-style: none;
    border-radius: 10px;
}

.Merchant_Dashboard--Section_Name {
    font-family: var(--Merchant_Main_Font);
    font-size: var(--Merchant_Section_Name);
    letter-spacing: 1px;
    padding: .5em .5em;
}

.Merchant_Dashboard--Grid {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin: 0em auto;
}

.Merchant_Dashboard--Item_Container {
    display: flex;
    justify-content: center;
    padding: 1em 0em;
}

.Merchant_Dashboard--Item {
    background-color: rgb(10, 10, 10);
    width: 80%;
    max-width: 250px;
    padding: 1.5em 0em;
    border-style: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.Merchant_Dashboard--Item--Text {
    font-family: var(--Merchant_Second_Font);
    font-size: var(--Merchant_Dashboard--Item--Text);
    font-weight: 600;
    letter-spacing: 1px;
}

.Merchant_Dashboard--Item--Value {
    font-family: var(--Merchant_Main_Font);
    font-size: var(--Merchant_Dashboard--Item--Value);
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1em;
}
