:root {
    --MerchantProducts_Main_Font: "Inter", sans-serif;
    --MerchantProducts_Second_Font: "Roboto", sans-serif;
    --MerchantProducts_Header: 40px;
}

.MerchantProducts_Page {
    padding: 1em 0em;
}

.MerchantProducts_Container {
    max-width: 1300px;
    margin: 0em auto;
}

.MerchantProducts_Header {
    background-color: black;
    position: sticky;
    top: 0px;
    padding-bottom: 1.5em;
}

.MerchantProducts_Header--Title {
    background-color: rgb(25, 25, 25);
    font-family: var(--MerchantProducts_Main_Font);
    font-size: var(--MerchantProducts_Header);
    text-align: center;
    letter-spacing: 2px;
    padding: .7em 0em;
    border-style: none;
    border-radius: 9px;
    border: 2px solid white;
}