:root {
    --Title: 25px;
    --Disc: 15px;
    --Category: 15px;
    --Final_Heading: 22px;
    --Mrp: 15px;
    --Final: 23px;
    --About_Title: 28px;
    --Address: 15px;
    --Button: 16px;
    --About_Info: 17px;
    --Font_Main: "Roboto", sans-serif;
    --Font_Side: "Inter", sans-serif;
}

.Product_Container {
    max-width: 1300px;
    margin: 0 auto;
    /* background-color: rgb(35, 34, 34); */
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    overflow-y: scroll;
}

.Product_Main {
    display: flex;
}

.Product_Image {
    /* width: 700px; */
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product_Main_Image {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product_Main_Image img {
    display: block;
    width: 100%;
    max-height: 100%;
}

.More_Product_Images {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.More_Image_Box {
    width: 80px;
    height: 60px;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.More_Image_Box--Active {
    padding: .3em;
    border: 2px solid orangered;
    border-radius: 5px;
}

.More_Image_Box img {
    max-width: 90%;
}

.Product_Details {
    margin: 2em 0 0 10em;
}

.Product_Title {
    font-size: var(--Title);
    font-family: var(--Font_Main);
    margin: .3em 0;
    line-height: 1.3;
    /* font-weight: 500; */
}

.Product_Category {
    font-size: var(--Category);
    font-family: var(--Font_Main);
    margin: .5em 0 .8em 0;
}

.Product_Price {
    font-size: var(--Final);
    font-family: var(--Font_Side);
    margin-bottom: .3em;
}

.Product_Discount {
    font-size: var(--Disc);
    font-weight: 400;
}

.Product_MRP {
    font-size: var(--Mrp);
    font-family: var(--Font_Side);
    font-weight: 300;
}

.Product_MRP_Strike {
    text-decoration: line-through;
}

.Delivery_Address {
    margin: 1em 0;
}

.Delivery_Address p {
    font-size: var(--Address);
    font-family: var(--Font_Side);
    font-weight: 300;
}

.Products_Buttons {
    margin: 1em 0;
}

.Products_Buttons button {
    font-size: var(--Button);
    font-family: var(--Font_Side);
    font-weight: 500;
    background-color: goldenrod;
    border-style: none;
    padding: .7em 1.5em;
    border-radius: 7px;
    cursor: pointer;
}

.Buy_Button {
    margin: 0 .5em 0 0;
}

.About_Product h4 {
    font-size: var(--About_Title);
    font-family: var(--Font_Main);
}

.About_Product p {
    font-family: var(--Font_Side);
    font-size: var(--About_Info);
    margin: 1em 0;
}

.Product_Review_Main_Container {
    font-family: var(--Font_Main);
    /* background-color: rgb(177, 103, 103); */
    padding: 1em;
    display: flex;
}

.Product_Review_Main_Heading_Container {
    font-family: var(--Font_Main);
    margin-bottom: .7em;
    padding-left: .5em;
    padding-bottom: .5em;
    /* border-bottom: 1px solid white; */
}

.Write_Review--Inactive,
.Write_Review_Button--Inactive,
.Your_Review--Inactive,
.Your_Review--Note--Inactive,
.Your_Review_Container--Inactive {
    display: none;
}

.Product_Rating_Container {
    width: 20%;
}

.Product_Rating_Star_Container--Box {
    width: fit-content;
}

.Actual_Star_Rating + .Actual_Star_Rating {
    margin-left: .3em;
}

.Actual_Star_Rating {
    cursor: pointer;
}

.Product_User_Reviews_Container {
    width: 80%;
}

.Product_Review_Main_Heading {
    font-size: var(--About_Title);
}

.Your_Review_Container {
    background-color: rgb(44, 44, 44);
    padding: 1em .5em;
    max-width: 700px;
    border-style: none;
    border-radius: 7px;
    border: 1px white solid;
}

.Your_Review--Note {
    font-size: 16px;
}

.Reviewer_Name {
    font-size: 18px;
    margin-bottom: .5em;
}

.Actual_Review {
    font-size: 16px;
}

.Write_Review_Button {
    margin-top: .8em;
}

.Write_Review_Button button {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: .7em 1em;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.Write_Review {
    background-color: rgb(44, 44, 44);
    padding: 1em .5em;
    max-width: 700px;
    border-radius: 7px;
}

.Reviewing_As--Name {
    font-size: 18px;
    margin-bottom: .5em;
}

.Give_Rating_Star_Container {
    margin-bottom: .7em;
}

.Give_Rating_Star_Container--Box {
    width: fit-content;
}

.Give_Star_Rating + .Give_Star_Rating {
    margin-left: .3em;
}

.Give_Star_Rating {
    cursor: pointer;
}

.Reviewing_As--Input {
    display: block;
    resize: vertical;
    width: 90%;
    font-size: 15px;
    padding: .3em .3em .2em .5em;
    border-radius: 5px;
    border-style: none;
}

.Write_Review_Buttons {
    margin-top: 1em;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.Write_Review_Submit_Btn {
    background-color: goldenrod;
    color: black;
    font-size: 14px;
    padding: .7em 1em;
    border-style: none;
    border-radius: 5px;
    margin-right: 1em;
    cursor: pointer;
}

.Write_Review_Cancel_Btn {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: .7em 1em;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.Write_Review_Delete_Btn {
    background-color: rgb(190, 4, 4);
    color: white;
    font-size: 14px;
    padding: .7em 1em;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.Reviews {
    margin-top: 1em;
    padding: .7em .5em;
    max-width: 700px;
    background-color: rgb(44, 44, 44);
    border-style: none;
    border-radius: 7px;
    border: 1px white solid
}

.Individual_Review {
    margin: 1em 0;
}

.Individual_Review p {
    margin-bottom: .3em;
}