
:root {
    --Title: 30px;
    --Price: 16px;
    --Final_Heading: 22px;
    --Mrp: 15px;
    --Final: 20px;
    --About_Title: 22px;
    --About_Info: 17px;
    --Font_Main: "Inter", sans-serif;
    --Font_Side: "Roboto", sans-serif;
}

.Product_Container {
    max-width: 1300px;
    margin: 0 auto;
    /* background-color: rgb(35, 34, 34); */
    font-optical-sizing: auto;
    font-style: normal;
}

.Product_Main {
    display: flex;
}

.Product_Image {
    margin-top: 4em;
}

.More_Product_Images {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.More_Image_Box {
    width: 80px;
    margin: 0 1em;
}

.More_Image_Box img {
    max-width: 100%;
}

.Product_Details {
    margin: 2em 0 0 10em;
}

.Product_Title {
    font-size: var(--Title);
    font-family: var(--Font_Main);
    margin: .3em 0;
    font-weight: 600;
}

.Product_Category {
    font-family: var(--Font_Main);
    margin: .5em 0 .8em 0;
}

.Final_Price_Heading {
    font-family: var(--Font_Main);
    font-size: var(--Final_Heading);
    margin-bottom: 1em;
}

.Product_Discount {
    font-size: var(--Price);
    font-family: var(--Font_Side);
    margin: .3em 0;
    font-weight: 200;
}

.Product_Final {
    font-size: var(--Final);
    font-family: var(--Font_Side);
    margin-left: .5em;
    font-weight: 400;
}

.Product_Price {
    font-size: var(--Mrp);
    font-family: var(--Font_Side);
    margin: .3em 0;
    font-weight: 300;
}

.MRP {
    text-decoration: line-through;
}

.Delivery_Address {
    margin: 1em 0;
}

.Delivery_Address p {
    font-weight: 300;
    font-family: var(--Font_Main);
}

.Products_Buttons {
    margin-bottom: 1em;
}

.Buy_Button {
    font-family: var(--Font_Side);
    margin: 0 .5em 0 0;
}

.About_Product h4 {
    font-size: var(--About_Title);
    font-family: var(--Font_Main);
}

.About_Product p {
    font-family: var(--Font_Side);
    font-size: var(--About_Info);
    margin: 1em 0;
}

.Product_Review {
    font-family: var(--Font_Main);
}

#Review_Input {
    display: block;
    resize: vertical;
}

.Reviews {
    margin-top: 1em;
}

.Individual_Review {
    margin: 1em 0;
}

.Individual_Review h4 {
    margin-bottom: .3em;
}