:root {
    --Title: 25px;
    --Disc: 15px;
    --Category: 15px;
    --Final_Heading: 22px;
    --Mrp: 15px;
    --Final: 23px;
    --About_Title: 28px;
    --Address: 19px;
    --Button: 16px;
    --About_Info: 17px;
    --Font_Main: "Inter", sans-serif;
    --Font_Side: "Roboto", sans-serif;
}

.Product_Container {
    max-width: 1300px;
    margin: 0 auto;
    /* background-color: rgb(35, 34, 34); */
    font-optical-sizing: auto;
    font-style: normal;
}

.Product_Main {
    display: flex;
}

.Product_Image {
    width: 700px;
    margin-top: 4em;
}

.More_Product_Images {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.More_Image_Box {
    width: 80px;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.More_Image_Box--Active {
    padding: .2em;
    border: 2px solid orangered;
    border-radius: 5px;
}

.More_Image_Box img {
    max-width: 100%;
}

.Product_Details {
    margin: 2em 0 0 10em;
}

.Product_Title {
    font-size: var(--Title);
    font-family: var(--Font_Main);
    margin: .3em 0;
    line-height: 1.3;
    /* font-weight: 500; */
}

.Product_Category {
    font-size: var(--Category);
    font-family: var(--Font_Main);
    margin: .5em 0 .8em 0;
}

.Product_Price {
    font-size: var(--Final);
    font-family: var(--Font_Side);
    margin-bottom: 1em;
}

.Product_Discount {
    font-size: var(--Disc);
    font-weight: 400;
}

.Product_MRP {
    font-size: var(--Mrp);
    font-family: var(--Font_Side);
    font-weight: 300;
}

.Product_MRP_Strike {
    text-decoration: line-through;
}

.Delivery_Address {
    margin: 1em 0;
}

.Delivery_Address p {
    font-size: var(--Address);
    font-family: var(--Font_Side);
    font-weight: 300;
}

.Products_Buttons {
    margin: 1em 0;
}

.Products_Buttons button {
    font-size: var(--Button);
    font-family: var(--Font_Side);
    font-weight: 500;
    background-color: goldenrod;
    border-style: none;
    padding: .7em 1.5em;
    border-radius: 7px;
    cursor: pointer;
}

.Buy_Button {
    margin: 0 .5em 0 0;
}

.About_Product h4 {
    font-size: var(--About_Title);
    font-family: var(--Font_Main);
}

.About_Product p {
    font-family: var(--Font_Side);
    font-size: var(--About_Info);
    margin: 1em 0;
}

.Product_Review {
    font-family: var(--Font_Main);
}

#Review_Input {
    display: block;
    resize: vertical;
}

.Reviews {
    margin-top: 1em;
}

.Individual_Review {
    margin: 1em 0;
}

.Individual_Review h4 {
    margin-bottom: .3em;
}