:root {
  --Register_Main_Font: "Inter", sans-serif;
  --Register_Secondary_Font: "Roboto", sans-serif;
  --Register_Main_Fontsize: 15px;
  --Register_Secondary_Fontsize: 17px;
  --Register_Button_Fontsize: 15px;
}

.Register_Main {
  max-width: 650px;
  margin: 0 auto;
  background-color: rgb(67, 66, 66);
  padding: 2em 1.5em;
  border-radius: 10px;
}

.Register_ErrorMsgBox--visible {
  background-color: rgb(234, 65, 65);
  padding: 1em;
  margin-bottom: 2em;
  border: 2px solid white;
  border-radius: 10px;
}

.Register_ErrorMsgBox--invisible {
  visibility: hidden;
  height: 0;
}

.Register_ErrorMsgHeading,
.Register_ErrorMsg {
  font-family: var(--Register_Secondary_Font);
  font-size: var(--Register_Secondary_Fontsize);
}

.Register_Notes {
  margin-bottom: 1.3em;
  font-family: var(--Register_Secondary_Font);
}

.Register_Notes h2 {
  margin-bottom: 0.3em;
}

.Register_Field--Label_And_Count {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}

.Register_Field--Count {
  font-family: var(--Register_Secondary_Font);
  font-size: var(--Register_Secondary_Fontsize);
}

.Register_Firstname,
.Register_Lastname,
.Register_Email,
.Register_Password {
  margin: 1em 0;
}

.Register_Firstname label,
.Register_Lastname label,
.Register_Email label,
.Register_Password label {
  font-family: var(--Register_Secondary_Font);
  font-size: var(--Register_Secondary_Fontsize);
  font-weight: 500;
}

.Register_Firstname--Input,
.Register_Lastname--Input,
.Register_Email--Input,
.Register_Password--Input {
  display: block;
  width: 250px;
  font-family: var(--Register_Secondary_Font);
  font-size: var(--Register_Main_Fontsize);
  font-weight: 400;
  margin-top: 0.3em;
  padding: 0.2em 0 0.2em 0.3em;
  border-style: none;
  border-radius: 2px;
}

.Register_Signup {
  margin-top: 1em;
}

.Register_Signup input {
  font-size: var(--Register_Secondary_Font);
  font-size: var(--Register_Button_Fontsize);
  font-weight: 500;
  padding: 0.5em 1.7em;
  background-color: gold;
  border-style: none;
  border-radius: 4px;
}

.Register_Login {
  margin-top: 2em;
}

.Register_Login p {
  margin-bottom: 0.5em;
  font-family: var(--Register_Secondary_Font);
}

.Register_Login button {
  font-size: var(--Register_Secondary_Font);
  font-size: var(--Register_Button_Fontsize);
  font-weight: 500;
  padding: 0.5em 1.7em;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 4px;
}

.Register_Input {
  margin-bottom: 1em;
}

.Register_Input label {
  font-family: var(--Register_Secondary_Font);
  font-size: var(--Register_Secondary_Fontsize);
  font-weight: 500;
}

.Registerotp_Input {
  display: block;
  width: 100px;
  font-family: var(--Register_Secondary_Font);
  font-size: var(--Register_Main_Fontsize);
  font-weight: 400;
  margin-top: 0.3em;
  padding: 0.2em 0 0.2em 0.3em;
  border-style: none;
  border-radius: 2px;
}

.Register_Savechanges_Btn {
  font-size: var(--Register_Secondary_Font);
  font-size: var(--Register_Button_Fontsize);
  font-weight: 500;
  padding: 0.5em 1.7em;
  background-color: gold;
  border-style: none;
  border-radius: 4px;
}
