:root {
    --Wish_AddNewList--Header_Heading: 18px;
    --Wish_Main_Font: "Inter", sans-serif;
    --Wish_Secondary_Font: "Roboto", sans-serif;
}

.Wish_Container {
    background-color: rgb(64, 64, 64);
    height: 100%;
    overflow-y: scroll;
}

.Wish_Subcontainer {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    background-color: black;
}

.Wish_AddNewList_Container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wish_AddNewList_Container--Inactive {
    display: none;
}

.Wish_AddNewList--Tint {
    background-color: black;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.Wish_AddNewList {
    background-color: rgb(64, 64, 64);
    position: relative;
    z-index: 2;
    width: 700px;
    padding: 2em 4em;
    border-style: none;
    border-radius: 10px;
    border: solid 1.5px white;
}

.Wish_AddNewList--Header,
.Wish_AddNewList--Error {
    background-color: rgb(25, 25, 25);
    padding: 1.4em .7em;
    border-style: none;
    border-radius: 8px;
    border: 2px solid white;
}

.Wish_AddNewList--Error {
    background-color: rgb(197, 61, 61);
    margin-top: .5em;
}

.Wish_AddNewList--Error--Inactive {
    display: none;
}

.Wish_AddNewList--Header_Heading,
.Wish_AddNewList--Error_Heading {
    font-size: var(--Wish_AddNewList--Header_Heading);
    font-family: var(--Wish_Main_Font);
    font-weight: 700;
    margin-bottom: .2em;
}

.Wish_AddNewList--Header_Note,
.Wish_AddNewList--Error_Note {
    font-size: var(--Wish_AddNewList--Header_Note);
    font-family: var(--Wish_Secondary_Font);
}

.Wish_AddNewList--Input {
    background-color: rgb(25, 25, 25);
    border-style: none;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 1.3em;
    padding: 1.4em 2.7em;
}

.Wish_AddNewList--Input label {
    font-size: var(--Wish_AddNewList_Input--Label);
    font-family: var(--Wish_Secondary_Font);
    font-weight: 500;
    display: block;
    margin-bottom: .3em;
}

.Wish_AddNewList--Input input {
    font-size: var(--Wish_AddNewList_Input);
    font-family: var(--Wish_Secondary_Font);
    padding: .2em .2em .1em .2em;
    margin-bottom: 1em;
    border-style: none;
}

.Wish_AddNewList--Input_Buttons button {
    font-size: var(--Wish_AddNewList_Buttons);
    font-family: var(--Wish_Secondary_Font);
    padding: .4em .8em;
    border-style: none;
    border-radius: 5px;
}

.Wish_AddNewList--Buttons_Cancel {
    background-color: rgb(248, 66, 66);
    color: white;
}

.Wish_AddNewList--Buttons_Create {
    background-color: goldenrod;
    color: black;
    margin-left: .5em;
}